<!DOCTYPE>
<html>
<head>
  <title>{{user.fullname}} | UCLS May Project Submission</title>
  <link rel="stylesheet" href="/bootstrap.min.css" type="text/css" />
  <style>
    body{padding-top:65px;}
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
    <a class="navbar-brand" href="/user">UCLS May Project Submission Portal</a>
    <form class="navbar-form navbar-right" style="padding-right:20px;" action="/api/logout" method="post">
    <button type="submit" class="btn btn-inverse">Sign Out</button>
    </form>
    <p class="navbar-right navbar-text">Signed in as {{user_name}}</p>
  </nav>
  <div class="container">
    <div class="col-md-8">
      <h4>Reviewing Proposal #{{student.key().id()}}</h4><br/><!--IMPLEMENT THIS DAMN HANDLER-->
      <p>Please limit comments to 500 characters or less. If you wish to provide more extensive feedback on a particular
      item, there is space available in the "Summary Comments" section at the bottom.</p>
      <form id="file" action="/review/{{student.key().id()}}" enctype="multipart/form-data" method="post" role="form">
        <div class="form-group">
          <label for="q1">Has the student proposed a well-planned project likely to result in a meaningful, enjoyable, 
          and satisfying experience that will reflect well on the student and on U-High?</label>
          <div>In what ways might the student rethink the project or plan to ensure a more meaningful and satisfying experience? 
          Keep in mind that students who shadow, intern, or volunteer often have little information about what they will be doing.</div>
          <input class="form-control" id ="q1" name="q1" placeholder="Comments" maxlength="500"/>
          <select class="form-control" style="width:70px;" id="q1-score" name="q1-score">
            {% for i in range(1,11) %}
              <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="q2">Is the student's plan for carrying out the project feasible in terms of time (an average of 30 hours/week), 
          materials, skill set, training, research, travel (if relevant), and goals?</label>
        <div>Is the student's plan for carrying out the project feasible in terms of time (an average of 30 hours/week), materials, 
        skill set, training, research, travel (if relevant), and goals?</div>
          <input class="form-control" id ="q2" name="q2" placeholder="Comments" maxlength="500"/>
          <select class="form-control" style="width:70px;" id="q2-score" name="q2-score">
            {% for i in range(1,11) %}
              <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="q3">Does the proposal convey sufficient preliminary research in planning the project?</label>

          <div> For example, has the student who plans to shadow a cardiologist researched cardiology sufficiently to describe the 
          training and field, or has the student who wants to learn to play drums enrolled in lessons appropriate to his or her skill 
          level and goals? Are there additional resources or experts that the student should consult to help him or her create a sound 
          plan for carrying out his or her May Project?
          </div>
          <input class="form-control" id ="q3" name="q3" placeholder="Comments" maxlength="500"/>
          <select class="form-control" style="width:70px;" id="q3-score" name="q3-score">
            {% for i in range(1,11) %}
              <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="q4">Has the student thought through likely challenges and obstacles and addressed them thoroughly and thoughtfully? 
          Is the plan flexible enough to allow for changes as needed?</label>
          <div>Do you anticipate any potential obstacles that the student has not considered?</div>
          <input class="form-control" id ="q4" name="q4" placeholder="Comments" maxlength="500"/>
          <select class="form-control" style="width:70px;" id="q4-score" name="q4-score">
            {% for i in range(1,11) %}
              <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="q5">Has the student described a viable plan for presenting his or her project to classrooms and preparing an exhibit for 
          MP Exhibit?</label>
          <div>Please suggest how the student might frame his or her 10-15 minute presentation and create a memorable exhibit to share with 
          the Lab Schools community.</div>
          <input class="form-control" id ="q5" name="q5" placeholder="Comments" maxlength="500"/>
          <select class="form-control" style="width:70px;" id="q5-score" name="q5-score">
            {% for i in range(1,11) %}
              <option>{{i}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
        <label for="comments">Please include any summary comments below.</label>
        <textarea class="form-control" type="text" id="comments" rows=10 name="comments" > </textarea>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit Comments</button>
        </div>
      </form>
    </div>


    </div>
  </div>
</body>
