<!DOCTYPE>
<html>
<head>
  <title>{{user_name}} | UCLS May Project Submission</title>
  <link rel="stylesheet" href="/bootstrap.min.css" type="text/css" />
  <style>
    body{padding-top:100px;}
    .checklist{font-size:1.3em;}
    .todo{list-style-image:url('img/unchecked.png');}
    .done{list-style-image:url('img/checked.png');}
    li{padding-top:10px;padding-bottom:5px;}
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
    <a class="navbar-brand" href="#">UCLS May Project Submission Portal</a>
    <form class="navbar-form navbar-right" style="padding-right:20px;" action="/logout" method="post">
    <button type="submit" class="btn btn-inverse">Sign Out</button>
    </form>
  </nav>
  <div class="container">
    <div class="col-md-9">
      <h3>Welcome, {{user_name}}!</h3>
      
      <p style="font-size:1.25em"> 
      {% if status=="student" %}
      This is the submission portal for May Project 2014. Below is a checklist of the required items that need to be submitted. Keep in mind that
      proposals are due no later than <b>February 21st, 2014</b>. Submission will open on <b>February 14th, 2014</b>.
      {% elif status =="reviewer" %}
      This is the submission and review portal for May Project 2014. Below is a checklist of the students that you have been assigned to review.
      Revisions and comments must be submitted on this site no later than <b>Date TBD</b>
      {% endif %}
      </p>
      <div class="well">
        <h4><u>{% if status == "student" %}May Project Checklist{% elif status =="reviewer" %}Assigned Proposals{% endif %}</u></h4> 
        <ul class="checklist">
        {% if status == "student" %}
            <li class={%if forms[0] == False %}"todo"{% else %}"done"{% endif %}>Form A: May Project Supervisor Agreement Form - Due Friday, January 24th</li>
            <li class={%if forms[1] == False %}"todo"{% else %}"done"{% endif %}>Form B: Parental Permission Form - Due Friday, February 21st</li>
            <li class={%if forms[2] == False %}"todo"{% else %}"done"{% endif %}>Form C: Sponsor's Agreement Form - Due Friday, February 21st</li>
            <li class={%if forms[3] == False %}"todo"{% else %}"done"{% endif %}><b>May Project Proposal</b> - Due Friday, February 21st</li>
            <li class={%if forms[4] == False %}"todo"{% else %}"done"{% endif %}>Eligibility Form - Due Friday, April 25th</li>
        {% elif status == "reviewer" %}
            {% if assigned_users is defined %}
            {% for user in assigned_users %}
              <li class="todo"><a href="#">{{user.fullname}}</a></li>
            {% endfor %}
            {% endif %}
        {% endif %}
        </ul>

        {% if status == "student"%}
          <a class="btn btn-primary" href="/submit">Submit May Project Proposal</a>
        {% endif %}
      </div>
    </div>
</body>
