<!DOCTYPE>
<html>
<head>
  <title>{{user_name}} | UCLS May Project Submission</title>
  <link rel="stylesheet" href="/bootstrap.min.css" type="text/css" />
  <style>
    body{padding-top:100px;}
    .checklist{font-size:1.3em;}
    .todo{list-style-image:url('img/unchecked.png');}
    .done{list-style-image:url('img/checked.png');}
    li{padding-top:10px;padding-bottom:5px;}
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
    <a class="navbar-brand" href="#">UCLS May Project Submission Portal</a>
    <form class="navbar-form navbar-right" style="padding-right:20px;" action="/api/logout" method="post">
    <button type="submit" class="btn btn-inverse">Sign Out</button>
    </form>
    <p class="navbar-right navbar-text">Signed in as {{user_name}}</p>
  </nav>
  <div class="container">
    <div class="col-md-9"><br/>
      <h3>Welcome, {{user_name}}!</h3>
      
      <p style="font-size:1.25em"> 
      {% if user.account_approved == True %}
      {% if status=="student" %}
      This is the submission portal for May Project 2014. Below is a checklist of the required items that need to be submitted. Keep in mind that
      proposals are due no later than <b>February 21st, 2014</b>. Submission will open on <b>February 14th, 2014</b>.
      {% elif status =="reviewer" %}
      This is the submission and review portal for May Project 2014. Below is a checklist of the students that you have been assigned to review.
      Revisions and comments must be submitted on this site no later than <b>Date TBD</b>
      {% elif status =="coordinator" %}
      Below, you will find a listing of all accounts pending approval, form entry fields, and reviewer assignments. Please note that once the
      review process is initiated, all subsequent changes must be made manually.
      {% endif %}
      </p>
      <div class="well">
        <h4><u>{% if status == "student" %}May Project Checklist{% elif status =="reviewer" %}Assigned Proposals{% endif %}</u></h4> 
        <ul class="checklist">
        {% if status == "student" %}
            <li class={%if forms[0] == False %}"todo"{% else %}"done"{% endif %}>Form A: May Project Supervisor Agreement Form - Due Friday, January 24th</li>
            <li class={%if forms[1] == False %}"todo"{% else %}"done"{% endif %}>Form B: Parental Permission Form - Due Friday, February 21st</li>
            <li class={%if forms[2] == False %}"todo"{% else %}"done"{% endif %}>Form C: Sponsor's Agreement Form - Due Friday, February 21st</li>
            <li class={%if user.proposal_submitted == False %}"todo"{% else %}"done"{% endif %}><b>{% if user.proposal_submitted == True %}<a href="/view/{{user.key().id()}}">May Project Proposal</a>{% else %}May Project Proposal{%endif%}</b> - Due Friday, February 21st</li>
            <li class={%if forms[3] == False %}"todo"{% else %}"done"{% endif %}>Form D: Eligibility Form - Due Friday, April 25th</li>
        {% elif status == "reviewer" %}
            {% if assigned_users is defined %}
            {% for user in assigned_users %}
              <li class={%if user.reviewed == False %}"todo"{% else %}"done"{% endif %}><a href="/view/{{user.key().id()}}">{{user.secret}}</a></li>
            {% endfor %}
            {% endif %}
        {% endif %}
        </ul>
        {% if status == "coordinator" %}
        <h4 style="padding-top:20px;">Update Form Information</h4>
        <form action="/api/forms" method="post"> <!-- TODO IMPLEMENT THIS HANDLER-->
          <label for="coordinator-student">Student<br/><label>
          <select class="form-control input" id ="coordinator-student" name="coordinator-student">
            {% for student in approved_students %}
              <option>{{student.fullname}} ({{student.email}})</option>
            {% endfor %}
          </select>
          
          <label style="padding-top:10px; "for="coordinator-form">Form </label>
          <select class="form-control input" id="coordinator-form" name="coordinator-form">
            <option>Form A: May Project Supervisor Agreement Form</option>
            <option>Form B: Parental Permission Form</option>
            <option>Form C: Sponsor's Agreement Form</option>
            <option>Form D: Eligibility Form</option>
          </select>
          <br/>
          <button type="submit" class="btn btn-default">Update Forms</button>
        </form>
        <div style="padding-top:20px;">
        <h4>Begin Review Process</h4>
        <a href="/review/start" class="btn btn-danger">Assign Reviewers</a>
        </div>
        {% endif %}
        {% if status == "student"%}
          <a class="btn btn-primary" href="/submit">Submit May Project Proposal</a>
        {% endif %}
      </div>
        {% if status == "coordinator" %}
          <h4 style="padding-top:20px;">Students with Forms Pending</h4>
          <div class="col-md-3">
            <span><u>Form A: Supervisor</u></span>
            <ol>
            {% for user in form_list[0] %}
              <li>{{user.fullname}}</li>
            {% endfor %}
            </ol>
          </div>
          <div class="col-md-3">
            <span><u>Form B: Parent</u></span>
            <ol>
            {% for user in form_list[1] %}
              <li>{{user.fullname}}</li>
            {% endfor %}
            </ol>
          </div>
          <div class="col-md-3">
            <span><u>Form C: Sponsor</u></span>
            <ol>
            {% for user in form_list[2] %}
              <li>{{user.fullname}}</li>
            {% endfor %}
            </ol>
          </div>
          <div class="col-md-3">
            <span><u>Form D: Eligibility</u></span>
            <ol>
            {% for user in form_list[3] %}
              <li>{{user.fullname}}</li>
            {% endfor %}
            </ol>
          </div><br>
          <div class="col-md-6">
            <h4>Students with Pending Proposals</h4>
            <ol>
              {% for user in form_list[4] %}
              <li>{{user.fullname}}</li>
              {% endfor %}
            </ol>
          </div>
        {% endif %}
    </div>
    {% if status == "coordinator" %}
    <div class="col-md-3">
      <center><h3>Accounts Pending</h3></center>
        {% if pending_users %}
        <ul>
        {% for user in pending_users %}
          <li>{{user.fullname}} - {{user.status}}: </br><a href="/approve/{{user.key().id()}}">Approve</a> <a href="/deny/{{user.key().id()}}">Deny</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>There are no accounts pending approval.</p>
        {% endif %}
    </div>
    {% endif %}
    {% else %}
      Your account has not been approved yet - please contact the May Project Coordinator if you believe you are receiving this message in error. 
    {% endif %}
</body>
